body, html {
  background-color: black;
  color: white;
  font-family: "Helvetica", sans-serif;
}

.top {
  border-bottom: thick solid white;
  text-align: center;
}

.buttons {
  position: relative;
  width: 450px;
  height: 50px;
  line-height: 30px;
  text-align: center;
  font-weight: 900;
  margin: 15px auto 40px auto;
  cursor: pointer;
}

.line-buttons {
  font-size: 23px;
  border-radius: 20px;
  float: left;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 0 3px;
  opacity: .5;
}

.line-buttons:hover {
  opacity: 1;
}

.current-line {
  position: relative;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: 900;
  margin: 75px auto -30px auto;
  font-size: 40px;
  border-radius: 50px;
  opacity: 1;
  background-color: #B933AD;
}

#seven {
  background-color: #B933AD;
}

#n {
  background-color: #FCCC0A;
  color: black;
}

#q {
  background-color: #FCCC0A;
  color: black;
}

#r {
  background-color: #FCCC0A;
  color: black;
}

#one {
  background-color: #EE352E;
}

#two {
  background-color: #EE352E;
}

#three {
  background-color: #EE352E;
}

#four {
  background-color: #00933C;
}

#five {
  background-color: #00933C;
}

#six {
  background-color: #00933C;
}

#a {
  background-color: #2850AD;
}

#c {
  background-color: #2850AD;
}

#e {
  background-color: #2850AD;
}

#b {
  background-color: #FF6319;
}

#d {
  background-color: #FF6319;
}

#f {
  background-color: #FF6319;
}

#m {
  background-color: #FF6319;
}

#j {
  background-color: #996633;
}

#z {
  background-color: #996633;
}

#g {
  background-color: #6CBE45;
}

#l {
  background-color: #A7A9AC;
}

#s42 {
  background-color: #808183;
}

#sFkln {
  background-color: #808183;
}

#sRock {
  background-color: #808183;
}

#best-fit-button {
  cursor: pointer;
}

#all-trains-button {
  cursor: pointer;
}

#tooltip {
  z-index: 1;
  color: black;
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  pointer-events: none;
}
#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 10px;
  line-height: 20px;
}

.the-graph {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.svg-chart {
  position: relative;
  width: 900px;
  margin: 0 auto;
}

#hidden {
  display: none;
}

.description {
  margin-top: 75px;
  border-top: thick solid white;
}

.description p {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 850px;
  margin: 0 auto;
  text-align: justify;
}

.test-class {
  background-image: url('man.svg');
  background-repeat: no-repeat;
  position: relative;
  width: 400px;
  margin: 0 auto;
  background-color: steelblue;
  border-radius: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 11px;
  fill: white;
}