body, html {
  background-color: black;
  color: white;
  font-family: "Helvetica", sans-serif;
}

.top {
  border-bottom: thick solid white;
  text-align: center;
}

.buttons {
  position: relative;
  width: 200px;
  height: 50px;
  line-height: 30px;
  text-align: center;
  font-weight: 900;
  margin: 15px auto 40px auto;
  cursor: pointer;
}

.line-buttons {
  font-size: 23px;
  border-radius: 20px;
  float: left;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 0 3px;
  opacity: .5;
}

.line-buttons:hover {
  opacity: 1;
}

#seven {
  background-color: #B933AD;
}

#q {
  background-color: #FCCC0A;
  color: black;
}

#one {
  background-color: #EE352E;
}

#two {
  background-color: #EE352E;
}

#three {
  background-color: #EE352E;
}

#tooltip {
  z-index: 1;
  color: black;
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  pointer-events: none;
}
#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 10px;
  line-height: 20px;
}

.the-graph {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.svg-chart {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.axis path,
.axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 11px;
  fill: white;
}